nav{
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

nav:nth-child(1){
    display: flex;
    gap: 20px;
}